body {
    padding: 0;
    margin: 0;
    background-image: url("../assets/cosmic-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    img {
        width: 960px;

        @media screen and (max-width: 970px) {
            width: 100%;
        }
    }
}

.section2 {
    padding: 50px 2.5rem;

    .content {
        align-items: center;
        padding: 30px 0;
        color: white;
        display: flex;
        align-items: center;

        > div {
            flex: 1 1 50%;

            > img {
                width: 100%;
            }
        }
    }
    .requirements {
        background-image: url('../assets/cosmic-zebra.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 200px;
        padding: 20px 30px;
        margin-left: 70px;
    }
}

.section3 {
}

// Common Style
.divide_line {
    width: 100%;
    height: 5px;

    > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.bottom-height {
    height: 600px;
}

.title {
    position: relative;
    width: 50%;

    > p {
        background-image: url("../assets/cosmic-mask.png");
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        font-size: 40px;
        margin: 0;
        width: 230px;
        text-align: center;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 3px;
        background-image: url("../assets/cosmic-vector.png");
    }
}
